a:link {
  color: #e67e22;
  text-decoration: none;
}
a:hover {
  color: #bf6516;
  text-decoration: none;
}
a:visited {
  color: #a85913;
  text-decoration: none;
}
p {
  font-size: 1em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
